<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_mock_hardware"      default="true" />
    <xacro:arg name="can_interface"          default="can0" />
    <xacro:arg name="base_joint_connected"   default="true" />

    <!-- Import rover_arm urdf file -->
    <xacro:include filename="$(find arm_description)/urdf/arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rover_arm.ros2_control.xacro" />

    <xacro:rover_arm_ros2_control
        name="RoverArmSystem"
        initial_positions_file="$(arg initial_positions_file)"
        use_mock_hardware="$(arg use_mock_hardware)"
        can_interface="$(arg can_interface)"
        base_joint_connected="$(arg base_joint_connected)" />

</robot>
